extends layout

block content
  h1= title
  p Welcome to Hotel reservation #{title}
  if user
    p #{user.username} 
    //pull username from login page but pull data(username) from database
    p #{user.name} 
    //pull data(username) from database but use user to serch data in databse
    a(href="/booking", class="btn btn-link") booking hotel

    a(href="/user_info", class="btn btn-link") user information
